{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        h1{
            color: white;
        }
        a{
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    {% for auction in auctionOneById %}
    <h1>more descriptions {{ auction.name }}</h1>
    {% endfor %}
{% endblock %}