{% extends 'base.html.twig' %}
{% block title %}{{ 'auctions.body.title'|trans }}{% endblock %}
{% block stylesheets %}
    <style>

    </style>
{% endblock %}
{% block body %}
    <h1>{{ 'auctions.body.title'|trans }}</h1>

{% endblock %}